<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.cinellialessia.yahtzee">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yahtzee">
        <activity android:name=".MainActivity"
                  android:theme="@style/Theme.Yahtzee"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bluetooth"
            android:screenOrientation = "portrait"/>
        <activity android:name=".SinglePlayer"
            android:screenOrientation = "portrait"/>
        <activity android:name=".MultiPlayer"
            android:screenOrientation = "portrait"/>
        <activity android:name=".OnlyCards"
            android:screenOrientation = "portrait"/>
        <activity android:name=".OnlyCards2"
            android:screenOrientation = "portrait"/>
        <activity android:name=".db.MainActivityDataB"
            android:screenOrientation = "portrait"/>
        <activity android:name=".IAActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name=".Setting"
            android:theme="@style/Theme.Yahtzee.Translucent"
            android:screenOrientation = "portrait" />
        <activity android:name=".db.BarChartActivity"
            android:theme="@style/Theme.Yahtzee.Translucent"
            android:screenOrientation = "portrait"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>